@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.smink{
  color: #67548e;

}

.title{
  font-size: 2rem;
}

.inputUrl{
  
  width: 100%;
  margin-top: 1rem;
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
  &:hover {
      border-color: #ccc;
  }
  &:focus{
      border-color: #67548e;
      background: #fff;
  }
  
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.divUrl{
  padding-left:5px ;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 36px;
  margin-top: 1rem;
  &:hover {
      border-color: #ccc;
  }
  &:focus{
      border-color: #67548e;
      background: #fff;
  }
  
}

.button {
  margin-top: 1rem;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #efa9fd 0, #67548e 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button:focus {
  box-shadow: #67548e 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #67548e 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #67548e 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #67548e 0 3px 7px inset;
  transform: translateY(2px);
}

@media screen and (max-width:600px) {
  .wrapper{
    width: 100%;
  }
  .button, .inputUrl, .title, .divUrl{
    width: 90%;
  }

}